@font-face{
    src: url("../fuentes/ClauslyFont.ttf");
    font-family: "clauslyfont";
}
h1{
    font-family: "clauslyfont";
    font-size: 50px;
    text-align: center;
}
#master{
    border: solid 5px darkslategray;
    width: 900px;
    background-color: teal;
}
#introduccion{
    border: solid 5px darkslategray;
    background-color: teal;
    margin-left: 10px;
    margin-right: 10px;
}
#titulo1{
    border: solid 5px darkslategray;
    background-color: teal;
    margin-left: 10px;
    margin-right: 10px;
}
#gatos{
    border: solid 5px darkslategray;
    background-color: teal;
    margin-left: 10px;
    margin-right: 10px;
}
#siames{
    border: solid 5px darkslategray;
    background-color: teal;
    margin-left: 10px;
    margin-right: 10px;
}
